@using Tara.UI.MAUIBlazor.Shared.Common

<div class="icon-box" style="@IconBoxStyle" @onclick="OnClick">
    <div class="icon-top-nav" style="@IconTopNavStyle">
        <div class="icon-image">
            @Image
        </div>
    </div>
    <div class="icon-bottom-nav">
        <label class="icon-title" style="@IconTitleStyle">
            @Title
        </label>
    </div>
</div>
