body {
    background: url('/images/bgs/login.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: mediumaquamarine;
}

.txt {
    text-align:center !important;
}

#txt-username {
    text-align: center !important;
}
.center {
    justify-content: center;
    align-items: center;
}

.floating-label {
    /* right:0 !important; */
    /* direction:ltr !important; */
    /* text-align: left !important; */
    /* left: 10px !important; */
    /* width: 100% !important; */
}

body {
    background: url("~/images/bgs/login.jpg") no-repeat center center fixed;
    background-size: cover;
}

.profile {
    border-radius: 50%;
    background-color: whitesmoke;
}

#img-profile {
    /* background: url("~/images/bgs/login.jpg") no-repeat center center fixed; */
    background-size: cover;
}
