@page "/"
@using BeauComponents.Components.Controls
@using System.Data
@using static BeauComponents.Components.Classes.BeauEnums
@inject IJSRuntime _js;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<BeauGridView Name="grid-view" DataTable="BindDt()" OnClickRow="(n) => { Clicked(n, false); }"
              Editable="true" />
<div>
    <svg class="loading-progress">
        <circle r="40%" cx="50%" cy="50%" />
        <circle r="40%" cx="50%" cy="50%" />
    </svg>
    <div class="loading-progress-text"></div>
</div>


@code {

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            _js.InvokeVoidAsync("showSnackbar");
        base.OnAfterRender(firstRender);
    }

    private DataTable BindDt()
    {
        DataTable MyDataTable = new DataTable();
        MyDataTable.Columns.Add("ID", typeof(int));
        MyDataTable.Columns.Add("Name", typeof(string));
        MyDataTable.Columns.Add("Age", typeof(int));

        MyDataTable.Rows.Add(1, "Alice", 25);
        MyDataTable.Rows.Add(2, "Bob", 30);
        MyDataTable.Rows.Add(3, "Charlie", 35);

        return MyDataTable;
    }

    string? value;
    private static DataRowView? selectedRow;
    private DataRowView? Clicked(DataRowView? dataRow, bool stateHasChanged)
    {
        selectedRow = dataRow;
        if (stateHasChanged == true)
            this.StateHasChanged();
        return selectedRow;
    }

    #region Modal
    private bool isModalVisible = false;
    private void ShowModal()
    {
        isModalVisible = true;
    }
    private void OnModalVisibilityChanged(bool visibility)
    {
        isModalVisible = visibility;
    }

    private static DialogResult _dialogResult;
    private void OnModalDialogResultChanged(DialogResult dialogResult)
    {
        _dialogResult = dialogResult;
        this.StateHasChanged();
    }
    #endregion
}
