@page "/login"
@using BeauComponents.Components.Controls
@using BeauProject.Identity.Application.DTOs.User
@using BeauProject.Presentation.Blazor.Components.Layout
@using BeauProject.Presentation.Blazor.Services
@rendermode InteractiveServer
@inject AuthService _authService
@inject NavigationManager _navigator
@layout EmptyLayout
@inject IJSRuntime _js;

<style>
    #div-txt-username {
        background-color: #fff !important;
    }

    #txt-username {
        background-color: transparent !important;
        text-align: center !important;
    }

    #div-txt-password {
        background-color: #fff !important;
    }

    #txt-password {
        background-color: transparent;
        text-align: center !important;
    }
</style>

<div class="main-page flex-center w-100 vh-100">
    <div class="sub-main-page flex-center w-100 h-100">
        <div class="top-nav flex-center">
            <div class="row" style="width:250px;">
                <div class="flex-center w-100" style="height:150px;">
                    <span class="profile">
                        <img id="img-profile" src="/images/icons/user-white.svg" />
                    </span>
                </div>

                <div class="w-100" style="height:190px;">
                    <div class="form-group mb-3 my-6">
                        <BeauInputText Id="txt-username" @bind-value="userDto.UserName" PlaceHolder="نام کاربری">
                            <RenderFragment>

                            </RenderFragment>
                        </BeauInputText>
                    </div>
                    <div class="form-group">
                        <BeauInputText Id="txt-password" @bind-value="userDto.Password" PlaceHolder="رمز عبور"
                                       Type="password" ShowPassword="true"></BeauInputText>
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <button Class="btn-icon border-radius" @onclick="SignIn">
                            <img src="/images/icons/arrow-right-white.svg" class="wh-20" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-nav">
            <button Class="btn-icon border-radius m-1">
                <img src="/images/icons/power-white.svg" class="wh-20" />
            </button>
            <button Class="btn-icon border-radius m-1">
                <img src="/images/icons/user-plus-white.svg" class="wh-20" />
            </button>
        </div>
    </div>
</div>


@if (!string.IsNullOrEmpty(message))
{
    <p class="text-danger mt-2">@message</p>
}
