/*body {
    background: url('/images/bgs/login.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    transition: all ease-in 0.3s;
}*/

.center {
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid gainsboro;
    width: 128px;
    height: 128px;
    background-color: rgba(255, 255, 255, 0.05);
}

#img-profile {
    width:80%;
    height:80%;
    opacity:0.5;
}

.btnPrimary {
    background: #0B5ED7;
    background: linear-gradient(177deg, rgba(11, 94, 215, 1) 0%, rgba(87, 199, 133, 1) 100%);
}

.txt {
    text-align: center !important;
}

.main-page {
    background: url("/images/bgs/login.jpg") no-repeat center center fixed;
    background-size: cover;
    transition: all ease-in 0.3s;
}

.sub-main-page {
    display: grid;
    grid-template-areas: "top-nav" "bottom-nav";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px;
    transition: all ease-in 0.3s;
    backdrop-filter: blur(40px);
    /*    zoom: 1.2;*/
}

.top-nav {
    grid-area: top-nav;
    height: inherit;
}

.bottom-nav {
    grid-area: bottom-nav;
    height: inherit;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.btn-upload {
    position: absolute;
    bottom: 0;
    right: 45px;
}
