#tab {
    background-color: whitesmoke;
    padding: 0 10px;
    border: 1px solid #d6d5d5;
    border-radius: 3px;
    margin: 0 1px;
    transition: color ease-in 0.3s;
    cursor: pointer;
}

#tab:hover{
    background-color:gainsboro;
}

.active {
    background-color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
