@page "/login"
@using BeauComponents.Components.Controls
@using BeauProject.UI.App.MAUI.Shared.Components.Layout
@using BeauProject.UI.App.MAUI.Shared.Services
@rendermode InteractiveServer
@layout WelcomeLayout
@inject NavigationManager _navigator
@inject AuthService _authService
@inject FilesService _filesService;
@inject IJSRuntime _js;

<div class="top-nav flex-center">
    <div class="row" style="width:250px;">
        <div class="flex-center w-100" style="height:150px;">
            <span class="profile">
                @if (this.profileImage == null)
                {
                    <svg id="img-profile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="silver" class="size-6">
                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                    </svg>
                }
                else
                {
                    <img src="data:image/png;base64,@Convert.ToBase64String(profileImage)" style="border-radius: 50%;" class="w-100 h-100" />
                }
            </span>
        </div>

        <div class="w-100" style="height:190px;">
            <div class="form-group">
                <BeauInputText Id="txt-username" @bind-value="userDto.UserName" PlaceHolder="نام کاربری" ShowCustom="true" ShowCustomIcon="true" @onkeypress="LoadProfileImage">
                    <CustomIcon>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="silver" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                        </svg>
                    </CustomIcon>
                </BeauInputText>
            </div>
            <div class="form-group">
                <BeauInputText Id="txt-password" @bind-value="userDto.Password" PlaceHolder="رمز عبور"
                               Type="password" ShowPassword="true" @onkeypress="GotoDesktop" ></BeauInputText>
            </div>
            <div class="form-group d-flex justify-content-between">
                <button Class="btn-icon border-radius" @onclick="SignIn">
                    <img src="/images/icons/arrow-right-white.svg" class="wh-20" />
                </button>
            </div>
        </div>
    </div>
</div>
<div class="bottom-nav">
    <button Class="btn-icon border-radius m-2" @onclick="CloseWindow">
        <img src="/images/icons/power-white.svg" class="wh-20" />
    </button>
    <button Class="btn-icon border-radius m-2" @onclick="RegisterPage">
        <img src="/images/icons/user-plus-white.svg" class="wh-20" />
    </button>
    <button Class="btn-icon border-radius m-2">
        <img src="/images/icons/globe-white.svg" class="wh-20" />
    </button>
    <button Class="btn-icon border-radius m-2">
        <img src="/images/icons/database-white.svg" class="wh-20" />
    </button>
</div>

<script>
    function passwordFocus(){
        document.getElementById("txt-password").focus();
    }
</script>